CMS_HOST=127.0.0.1
CMS_PORT=3001
CMS_SITE_ORIGIN=http://localhost:8080
CMS_REPO_DIR=/usr/local/dlq/blog
CMS_RELEASE_ROOT=/var/www/neverdown
CMS_SESSION_HOURS=24
CMS_GIT_PUSH=false
CMS_GIT_REMOTE=origin
CMS_GIT_BRANCH=main

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=neverdown_cms
MYSQL_USER=neverdown_cms
MYSQL_PASSWORD=replace_with_a_strong_password

